<img style="width: 100%" class="animated fadeIn image img-rounded Separator-up" src="Content/Photos/תמי-פלדנקרייז-במדבר.jpg" />

<div class="col-lg-4 col-lg-push-8 col-md-4 col-md-push-8 col-sm-12 scaledText" style="padding: 0 !important;position: initial;">
    <div auto-height ids="['4']" class="textBlock leftTextBlock relative minHeight">
        <h3 style="margin-top:15px ;" class="grey bold underlined">תמי קולנשר</h3>
        <div class="border img-rounded" style="float: left; overflow: hidden; margin-top: 2px; width:36%; margin-right: 3px; text-align: left; ">
            <img class="responsiveImage" style="margin-top:0px;width: 100%; float: left" src="Content/Photos/roundedTemi.png" />
        </div>

        <p>בצעירותי, עבדתי כעורכת סרטים בטלוויזיה הישראלית, המקצוע דורש ישיבה ממושכת. באחד הימים הבחנתי שאני מתקשה להתרומם מכסא העורכת ללא כאבים. הכאבים הלכו ותכפו, ולא מצאתי פתרון לבעיה. יום אחד לא יכולתי לזוז יותר.</p>
        <p style="margin-top: 15px !important;">זו היתה פריצת דיסק. נוטרלתי מעבודה לזמן ממושך. ארוע זה אילץ אותי להקדיש מחשבה לגוף שלי. הגעתי במקרה לטיפול אצל מורה לפדלנקרייז , הראלה הנפלאה, והיא העמידה אותי על הרגליים.</p>
        <p>כך התודעתי ל<a class="black pointer" ng-click="EnlargeArea('enlargeFeldenkraisMethod','FeldenkraisMethod','/feldenkrias-method')" href="/feldenkrias-method" title="שיטת פלדנקרייז">שיטת פלדנקרייז</a>, והחלטתי להתמחות בה, ולעזור לאחרים.</p>

        <div ng-if="isLargeScreen" class="coverDiv">
            <img height="175px" src="Content/Photos/slide2.jpg" />
            <div class="Alef coverWords">
                <h3>"לעשות את הבלתי אפשרי לאפשרי, את הקשה לקל, ואת הקל לנעים"</h3>
                <h4>- משה פלדנקרייז</h4>
            </div>

        </div>
    </div>
</div>

<div id="4" class="scaledText textBlock col-lg-8 col-lg-pull-4 col-md-8 col-md-pull-4 col-sm-12" style="padding: 0 !important;position: initial;">
    
            <table class="table table-hover scaledText" width="100%">
                <tbody>

                    <tr>
                        <td width="70" class="year">1979</td>
                        <td width="320" class="table_text">
                            – B.A החוג לקולנוע וטלוויזיה  - אוניברסיטת תל אביב  <br>
                            – החוג לשפה ותרבות צרפת - אוניברסיטת תל אביב
                        </td>
                    </tr>
                    <tr>
                        <td class="year">1987-1988</td>
                        <td class="table_text"> תקשורת – אוניברסיטת בר אילן</td>
                    </tr>
                    <tr>
                        <td class="year">1995-1998</td>
                        <td class="table_text">קורס למורים ב<a class="table_text" ng-click="EnlargeArea('enlargeFeldenkraisMethod','FeldenkraisMethod','/feldenkrias-method')" href="/feldenkrias-method" title="שיטת פלדנקרייז">שיטת פלדנקרייז</a> בהנהלת ד"ר חוה שלהב</td>
                    </tr>
                    <tr>
                        <td class="year">2000-1997</td>
                        <td class="table_text">קורס למורים ב<a class="table_text" ng-click="EnlargeArea('enlargeFeldenkraisMethod','FeldenkraisMethod','/feldenkrias-method')" href="/feldenkrias-method" title="שיטת פלדנקרייז">שיטת פלדנקרייז</a> בהנהלת יוחנן ריברנט</td>
                    </tr>
                    <tr>
                        <td class="year">1999-2000</td>
                        <td class="table_text">השתלמות : הוראה וחקר  <a class="table_text" ng-click="EnlargeArea('enlargeFeldenkraisMethod','FeldenkraisMethod','/feldenkrias-method')" href="/feldenkrias-method" title="שיטת פלדנקרייז">שיטת פלדנקרייז</a> / יוחנן ריברנט</td>
                    </tr>
                    <tr>
                        <td class="year">2000-2002</td>
                        <td class="table_text">
                            קורס מתקדם למורים ב<a class="table_text" ng-click="EnlargeArea('enlargeFeldenkraisMethod','FeldenkraisMethod','/feldenkrias-method')" href="/feldenkrias-method" title="שיטת פלדנקרייז">שיטת פלדנקרייז</a>:
                            מנהל חינוכי – יוחנן ריברנט.
                        </td>
                    </tr>
                    <tr>
                        <td class="year">2002-2003</td>
                        <td class="table_text">אנטומיה</td>
                    </tr>
                    <tr>
                        <td class="year">2003-2004</td>
                        <td class="table_text">
                            מוסמכת בשיטת "כל עצמותי" – חיזוק עצם על פי <a class="table_text" href="/feldenkrias-sessions" title="פלדנקרייז">פלדנקרייז</a>.
                            פיתוח: רות אלון.
                        </td>
                    </tr>
                    <tr>
                        <td class="year">2005-2006</td>
                        <td class="table_text" colspan="2">התמקדות "focusing"  ד''ר פרלשטיין</td>
                    </tr>
                    <tr>
                        <td class="year">2002-2007</td>
                        <td class="table_text">
                            סדנאות   בהדרכת מורים בכירים: בייזל גלזר, רות אלון, חוה
                            שלהב, רישרד קורביי (צרפת), אלי ודלר, ואחרים.
                        </td>
                    </tr>
                    <tr>
                        <td class="year">2010-2011</td>
                        <td class="table_text">
                            השתלמות 'רצפת אגן' | שמואלה בר סיני.
                        </td>
                    </tr>
                    <tr>
                        <td class="year">2013-2014</td>
                        <td class="table_text">
                            קורס אנטומיה יישומית | אייל שמש.
                        </td>
                    </tr>
                    <tr>
                        <td class="year">1997-2020</td>
                        <td class="table_text">
                            נסיון  עשיר בשיעורים קבוצתיים (A.T.M) ,ואישיים (F.I) אחד לאחד.
                            <br>
                            * <div style="display: inline; color: rgb(74, 72, 72);">התמחות בטיפול בנשים – עם סרטן שד.</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="year"></td>
                        <td class="table_text">מקומות עבודה: בית פרנקפורט, קאונטרי ל', סטודיו בצהלה, 'עד 120'  ועוד.</td>
                    </tr>
                </tbody>
            </table>
        
    
</div>


