<div style="position: relative">
    <img class="animated fadeIn Separator-up" style="margin-right: -7px; margin-bottom: -5px;" src="Content/Photos/long%20-%20feldenkrais.png" />
    <h1 id="upperTitle" class="animated fadeInRight Alef"><strong>עקרונות</strong></h1>
    <h1 id="loweTitle" class="animated fadeInLeft Alef"><strong>השיטה</strong></h1>
</div>

<div class="col-lg-8 col-md-8 scaledText" style="padding: 0;">
    <div id="1" class="textBlock bottom-padding">
        <h3 class="bold grey underlined">שיטת פלדנקרייז - התנועה היא המפתח</h3>
        <p>
            שיטת פלדנקרייז מאפשרת לכל אדם , באמצעות תנועה, להעמיד במבחן את הרגליו
            התנועתיים, ולשנות אותם.
            לדוגמא: היכולת להיות מסוגל לבצע פעולה מסוימת (כמו להתיישב ) בשלוש דרכים שונות.
        </p>
    </div>
    <div id="2" class="textBlock bottom-padding">
        <h3 class="bold grey underlined">שיטת פלדנקרייז - לא להצטיין</h3>
        <p>
            שיטת פלדנקרייז ממליצה לפעול מתוך שיקול דעת; בדוק את האפשרויות, מה נוח לי,
            מה מתאים לגוף שלי, ובעיקר - אל תעבור את הגבול האישי שלך!
            חלק ניכר מ שיעורי פלדנקרייז מתבצעים על המזרון, שם אין צורך להתמודד עם כוח הכובד.
            שיטת פלדנקרייז דוגלת בנוחות כבסיס לפעולה. נתמוך באיזור הכואב, ונשחזר תנועות בסיסיות
            שנשכחו עם השנים. (לדוגמא : לזחול כמו תינוק ).
        </p>
    </div>
    <div id="3" class="textBlock bottom-padding">
        <h3 class="bold grey underlined">שיטת פלדנקרייז - להתנועע מתוך הנאה</h3>
        <p>
            על פי שיטת פלדנקרייז נטמיע את המודעות בתנועה גם ביום-יום,
            ונבחין כיצד פעולות פשוטות כמו : צעידה, טיפוס, ירידה במדרגות,קפיצה,
            שטיפת כלים, וכו' מקבלות איכות חדשה.
        </p>
    </div>
</div>

<div class="col-lg-4 col-md-4" style="padding: 0 !important;">
    <div auto-height ids="['1','2','3']" class="minHeight scaledText" additional-margin="30">
        <div class="underlined layout-row-space-between-center" style="margin-bottom: 8px;">
            <h3 class="bold grey" style="margin-bottom: 0;">משה פלדנקרייז</h3>
            <h6 style="color: rgb(200, 199, 199); margin-bottom: 1px;"><a style="color: rgb(200, 199, 199)" href="http://he.wikipedia.org/wiki/%D7%9E%D7%A9%D7%94_%D7%A4%D7%9C%D7%93%D7%A0%D7%A7%D7%A8%D7%99%D7%99%D7%96" target="_blank">מתוך ויקיפידה</a></h6>
        </div>
        <div class="border" style="float: left; overflow: hidden; margin-top: 5px; margin-right: auto; clear: both;margin-left: 0px; width: 40%; text-align: left; ">
            <img class="responsiveImage" style="margin-top:0px; display: inline-block;width: 100%; float: left" src="Content/Photos/dr feldenkrais.jpg" />
        </div>
        <p>
            משה פנחס פֶלְדֶנְקְרַיְיז
            (Feldenkrais;‏ 1904 – 1984)
            הוא ממציא שיטת ההתעמלות והריפוי העצמי פלדנקרייז. לפני שנות ה-50 שימש כמורה לג'ודו וג'ו ג'וטסו וכתב ספרים בתחום וכן עסק במחקר כפיזיקאי.
        </p>
        <p>
            פלדנקרייז סבר שעם לידת האדם תנועתו הטבעית נכונה, אולם עם השנים מסגלים להם בני האדם לעתים הרגלי תנועה שגויים ואף מזיקים. זאת ניתן לתקן באופן מתון והדרגתי על ידי פיתוח המודעות לגוף. פיתוח המודעות נעשה בשלושה שלבים. התרגול נעשה במאמץ מינימלי ותוך שמירה על נשימה נכונה. כאשר האדם כבר שולט במודע בתנועתו הוא משפר את מצבו הבריאותי ומגיע לאיזון בין הנפש לגוף.
        </p>


    </div>
</div>

<div class="row"></div>
<div id="1" class="textBlock col-lg-12" style="min-height: 350px;text-align: center;padding: 18px;">
    <iframe ng-if="isFinishedWithDelay" width="930" height="315" src="//www.youtube.com/embed/vm3cmV7cbgU" frameborder="0" allowfullscreen></iframe>
    <img ng-if="!isFinishedWithDelay" style="width: 350px;margin-top: 0px;text-align: center" src="/Content/Photos/loading1.gif" />

</div>

