.smallSeparator-left{margin-left:6px;}
.largeSeparator-left{margin-left:20px;}
.Separator-up{margin-top:15px;}
#upperTitle{margin-right:310px;position:absolute;float:right;bottom:130px;color:grey;}
#loweTitle{margin-right:540px;position:absolute;float:right;bottom:-5px;color:grey;}
div#Maindiv{margin:10px auto;direction:rtl;width:979px;}
.textBlock{border:1px solid rgba(128, 128, 128, 0.41);box-shadow:2px 2px 5px rgba(128, 128, 128, 0.41);background-color:#fff;border-radius:2px;padding:10px;padding-top:0px;margin-top:15px;}
.owl-carousel{direction:ltr !important;margin-top:15px;}
.Alef{font-family:Alef !important;}
body{background-color:#ebeee7;}
.footer{display:inline-block;position:relative;bottom:-70px;width:100% !important;left:0 !important;padding-top:2em;background-color:#333;color:white;padding-bottom:2em;min-width:980px;box-shadow:-50px 0px 0px #333;}
.footer > *{text-align:center;}
@-webkit-keyframes tada{10%,40%, 70%{-webkit-transform:scale(1.1) rotate(3deg);}
25%,55%, 85%{-webkit-transform:scale(1.1) rotate(-3deg);}
100%{-webkit-transform:scale(1) rotate(0);}
}
@keyframes tada{10%,40%, 70%{transform:scale(1.1) rotate(3deg);}
25%,55%, 85%{transform:scale(1.1) rotate(-3deg);}
100%{transform:scale(1) rotate(0);}
}
#icon{height:5.5rem;}
#icon:hover{-webkit-animation-duration:3s;animation-duration:3s;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-name:tada;animation-name:tada;}
.image{height:198px;width:980px;border:1px solid black;box-shadow:2px 2px 5px #ccc;}
.border{border:1px solid #999292;}
.responsiveImage{-webkit-transition:transform 0.3s 0s ease-in;-moz-transition:transform 0.3s 0s ease-in;-ms-transition:transform 0.3s 0s ease-in;-o-transition:transform 0.3s 0s ease-in;transition:transform 0.3s 0s ease-in;}
.responsiveImage:hover{-webkit-transform:scale(1.1, 1.1);-moz-transform:scale(1.1, 1.1);-ms-transform:scale(1.1, 1.1);-o-transform:scale(1.1, 1.1);transform:scale(1.1, 1.1);}
.growing{-webkit-transition:height 0.4s 0s ease-in;-moz-transition:height 0.4s 0s ease-in;-ms-transition:height 0.4s 0s ease-in;-o-transition:height 0.4s 0s ease-in;transition:height 0.4s 0s ease-in;}
.my-animation{opacity:1;}
.my-animation.ng-hide{opacity:0;}
.my-animation.ng-hide-add,
.my-animation.ng-hide-remove{-webkit-transition:0.5s linear all;transition:0.5s linear all;}
.black{color:#333;}
.black:hover{color:#333;cursor:default;}
.pointer{cursor:pointer !important;}
.bold{font-weight:bold;}
.underlined{text-decoration:none;border-bottom:1px solid #ccc;}
h3{margin-top:12px;}
.year{vertical-align:text-top;font-weight:bold;}
.table_text{font-size:15px;color:rgb(120, 120, 120);font-weight:bold;}
@media(min-width:992px){.leftTextBlock{overflow:hidden;margin-right:3.5%;}
}
@media(min-width:980px){.smallDevicesleftTextBlock{overflow:hidden;margin-right:3.5%;}
}
div.coverDiv{position:relative;overflow:hidden;margin:60px 5px 0px 10px;text-align:center;display:inline-block;}
.relative{position:relative;}
div.coverDiv:hover .coverWords{opacity:1;}
.coverWords{-webkit-transition:opacity 0.5s 0s ease-in;-moz-transition:opacity 0.5s 0s ease-in;-ms-transition:opacity 0.5s 0s ease-in;-o-transition:opacity 0.5s 0s ease-in;transition:opacity 0.5s 0s ease-in;background-color:rgba(0, 0, 0, 0.6);height:100%;width:283px;padding:10px;padding-top:25px;vertical-align:central;text-align:center;color:white;display:inline;position:absolute;top:0%;right:0;opacity:0;}
.bottom-padding{padding-bottom:16px;}
@media(max-width:991px){.scaledText:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6){font-size:40px !important;}
.scaledText *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6){font-size:40px !important;}
}
@media(max-width:991px){.scaledText h1, .scaledText h2, .scaledText h3{font-size:45px !important;}
}
@media(max-width:991px){.scaledText h4, .scaledText h5, .scaledText h6{font-size:43px !important;}
}
.slicknav_menu, #mobileMenu{display:none;}
@media(max-width:991px){#menu{display:none;}
.slicknav_menu{display:block;min-width:979px;font-size:55px;}
}
@media(max-width:991px){.smallerScaledText *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6){font-size:30px;}
}
.minHeight{min-height:210px;}
.grey{color:rgba(140, 40, 40, 0.93);}
.darkRed{color:rgba(140, 40, 40, 1);font-weight:normal !important;}
.btn-default.active{font-style:italic;}
#owl-carouselDemo .item{margin-left:5px !important;margin-right:5px !important;}
#owl-carouselDemo .item img{display:block;width:100%;height:auto;}
.noMarginRight{margin-right:0 !important;}
.absolute{position:absolute;}
.contactMargingTop{margin-top:80px !important;}
.readMore{display:inline-block;position:relative;margin-bottom:30px;}
.layout-row-space-between-center{display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1 1 0%;-webkit-flex:1 1 0%;-moz-box-flex:1 1 0%;-moz-flex:1 1 0%;-ms-flex:1 1 0%;flex:1 1 0%;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-direction:row;flex-direction:row;-webkit-flex-direction:row;}
.slicknav_nav .slicknav_row, .slicknav_nav a{padding:10px;}
.owl-carousel .owl-item img{-webkit-transform-style:initial;-moz-transform-style:initial;-ms-transform-style:initial;-o-transform-style:initial;transform-style:initial}